.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
node_modules/**
pnpm-lock.yaml
notes.txt
img/*
img/*/*
!img/icon_602.png
build_it.mjs
